# vim: sta sts=4 sw=4 et ai si ff=unix eol fenc=utf-8 nobomb ft=conf
._*
.\#*
.*-version
*~
\#*\#
*.7z
*.a
.apdisk
*.app/
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated/
*_archive
atlassian-ide-plugin.xml
/auto/
auto-save-list
.autotools
backup/
*.bak
[Bb]in
bh_unicode_properties.cache
bin/
build/
.buildpath
*.bz2
*.bzip
.bzr/
.bzrignore
.c9
.c9revisions
*.cab
.cache-main
.cask/
classes/
cmake-build-*/
.com.apple.timemachine.donotpresent
com_crashlytics_export_strings.xml
_compareTemp
*.compiled
configs/
.cproject
crashlytics-build.properties
crashlytics.properties
cscope.files
cscope.in.out
cscope.out
cscope.po.out
csrc/
/CVS/*
**/CVS/*
.cvsignore
*/.cvsignore
cwallet.sso.lck
.data/
*.dbg
[Dd]esktop.ini
*.deb
deploy/
DerivedData/
*.diff
.directory
.dir-locals.el
dist/
*.dll
*.dmg
~$*.doc*
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
DVEfiles/
dw_php_codehinting.config
dwsync.xml
*.dylib
*.egg
ehthumbs.db
ehthumbs_vista.db
EIFGENs
*.elc
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/eshell/lastdir
*.evcd
*.exe
.externalToolBuilders/
fabric.properties
.factorypath
flycheck_*.el
*_flymake.*
*.fsdb
.fseventsd
.fuse_hidden*
*.gem
*.gho
GitHub.sublime-settings
GPATH
GRTAGS
GSYMS
GTAGS
gtags.files
*.gz
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
htmlcov/
Icon[]
.idea
[Ii]nclude
*.iso
*.iws
*.jar
javadoc/
.java-version
.jenv-version
.*.kate-swp
.kdev4/
*.kdev4
*.launch
lib/
[Ll]ib
[Ll]ib64
[Ll]ocal
*.lnk
.loadpath
local.properties
.~lock.*#
*.log
*.logs
*.lps
*.lrs
*.lrt
.LSOverride
*.lzma
.metadata
*.mno
*.mode1v3
*.mode2v3
*.moved-aside
*.msi
*.msix
*.msm
*.msp
.mypy_cache/
nbbuild/
nbdist/
.nb-gradle/
nbproject/private/
.netrwhist
Network Trash Folder
.nfs*
*~.nib
.ninja_deps
.ninja_log
node_modules/
_notes
*.o
*.or
.org-id-locations
*.ori
*.orig
oscrypto-ca-bundle.crt
.otto/
out/
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.cache/
Package Control.ca-list
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
*.patch
*.pbxuser
*.perspectivev3
*.pidb
pip-selfcheck.json
~$*.ppt*
*.ppu
.projectile
*.pyc
*.pydevproject
.Python
pyvenv.cfg
*.rar
.recommenders
.recommenders/
$RECYCLE.BIN/
*.rej
*.rel
*.res
*.resources
*.rpm
*.rsj
*.rst
[._]s[a-rt-v][a-z]
[._]*.s[a-v][a-z]
.scala_dependencies
secring.*
/server/
Session.vim
.settings/
sftp-config.json
simv
simv.daidir/
simv.db.dir/
simv.vdb/
*.so
.Spotlight-V100
.springBeans
[._]ss[a-gi-z]
[Ss]cripts
*.stackdump
*.stTheme.cache
*.sublime-project
*.sublime-workspace
.svn/
[._]*.sw[a-p]
[._]sw[a-p]
.swp.*
*.swp
tags
.tags
TAGS
.TAGS
*.tar
.target
temp/
.TemporaryItems
Temporary Items
.tern-project
test-results/
.texlipse
/.tgitconfig
*.tgz
Thumbs.db
*.tmlanguage.cache
*.tmp
tmp/
*.tmPreferences.cache
*.tmproj
*.tmproject
tmtags
tramp
.Trash-*
.Trashes
ucli.key
[._]*.un~
urgReport/
*.userprefs
*.usertasks
.vagrant/
*.vcd
vc_hdrs.h
.venv
.VolumeIcon.icns
*.vpd
*.vpj
*.vpw
*.vpwhist
*.vpwhistu
.vscode/*
*.~vsd*
*.vtg
.worksheet
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.xlk
~$*.xls*
*.xpi
*.xz
*.zip
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!tags/
!TAGS/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!usr/**/*
